<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Details App</title>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
  <div class="container">
    <h1>Movie Details App</h1>
    <div class="search-box">
      <input type="text" id="searchInput" placeholder="Search movies...">
      <button id="searchButton">Search</button>
    </div>
    <div id="results"></div>
    <div id="movieDetails"></div>
  </div>
  <script src="/main.js"></script>
</body>
</html>
